[Unit]
Description=HighestTemp Daemon - Provides the highest system temperature for fan control
Before=fancontrol.service

[Service]
ExecStart=/usr/local/bin/highesttemp
Restart=Always
User=goghor
Group=goghor

[Install]
WantedBy=default.target
